<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReflectiveCode.GMinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReflectiveCode.GMinder.Properties.Settings>
            <setting name="RefreshRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LoadDays" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="FutureColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SoonColor" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="SoonPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoonSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NowColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="SoonTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="NowSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PastColor" serializeAs="String">
                <value>236, 236, 236</value>
            </setting>
            <setting name="PastDismiss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NowPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundPath" serializeAs="String">
                <value>First Run</value>
            </setting>
            <setting name="OnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoPing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoonVerbal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NowVerbal" serializeAs="String">
                <value>False</value>
            </setting>
        </ReflectiveCode.GMinder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
