<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReflectiveCode.GMinder.Properties.Login" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ReflectiveCode.GMinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <ReflectiveCode.GMinder.Properties.Settings>
      <setting name="RefreshRate" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LoadDays" serializeAs="String">
        <value>31</value>
      </setting>
      <setting name="FutureColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="SoonColor" serializeAs="String">
        <value>255, 255, 192</value>
      </setting>
      <setting name="SoonPopup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoonSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NowColor" serializeAs="String">
        <value>255, 192, 192</value>
      </setting>
      <setting name="SoonTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="NowSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PastColor" serializeAs="String">
        <value>236, 236, 236</value>
      </setting>
      <setting name="PastDismiss" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NowPopup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundPath" serializeAs="String">
        <value>First Run</value>
      </setting>
      <setting name="OnTop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DoPing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoonVerbal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NowVerbal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoggedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastQuickAdd" serializeAs="String">
        <value />
      </setting>
    </ReflectiveCode.GMinder.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
