using Google.Apis.Auth.OAuth2;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

namespace ReflectiveCode.GMinder
{
    class GMinderClientSecrets
    {
        public static ClientSecrets getSecret() {
            return new ClientSecrets
            {
                ClientId = "CLIENT ID",
                ClientSecret = "CLIENT SECRET"
            };
        }
    }
}
